.container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 1.5em;
    background-color: hsl(0, 0%, 93%);
    font-family: 'Heebo', sans-serif;
}

.header {
    font-size: 32px;
    margin: 0;
    display: inline-block;
    padding-bottom: 2em;
    grid-template-columns: repeat(2, 1fr);

}


.main-header {
    border-bottom: 4px solid rgb(255, 210, 61);
}

.menu {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 0.1em;
    border-bottom: 4px solid rgb(255, 210, 61);
    font-size: 36px;
    display: inline-block;
}

.menu-group {
    display: grid;
    gap: 3em;
    padding: 1.5em 0;
    grid-template-columns: repeat(2, 1fr);
}

.menu-item {
    display: flex;
    background-color: rgb(226, 226, 226);
    height: 150px;
    padding-left: 1em;
    padding-top: 1em;
}

.menu-item-name {
    font-size: 20px;
}

.menu-item-image {
    width: 120px;
    height: 100px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
    font-size: 18px;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-description {
    line-height: 1.6;
    height: 60px;
}

.menu-item-allergies {
    object-fit: fill;
    font-style: italic;
}

.menu-item-price {
    padding-right:1em;

}

.info {
    grid-template-columns: repeat(4, 1fr);
}